---
http_interactions:
- request:
    method: get
    uri: https://api.adrecord.com/v1/transactions?start=2012-09-17&stop=2012-09-18
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - <ADRECORD_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
            "status": "OK",
            "result": [
                {
                    "id": 123456,
                    "type": "sale",
                    "click": "2012-09-17 17:57:06",
                    "epi": "abc123",
                    "program": {
                        "id": 123,
                        "name": "Kwik-E-Mart"
                    },
                    "channel": {
                        "id": 1234,
                        "url": "http:\/\/example.com\/"
                    },
                    "orderID": "100000000",
                    "orderValue": 19870,
                    "commission": 1987,
                    "commissionName": "Order",
                    "changes": [
                        {
                            "type": "transaction registered",
                            "date": "2012-09-17 18:00:51"
                        }
                    ],
                    "platform": "iphone",
                    "status": 5
                }
            ]
        }
  recorded_at: Thu, 09 Oct 2014 09:39:21 GMT
recorded_with: VCR 2.9.3
