---
http_interactions:
- request:
    method: post
    uri: https://api.adtraction.com/v1/affiliate/transactions
    body:
      encoding: UTF-8
      string: '{"fromDate":"2012-09-17T00:00:00+0000","toDate":"2012-09-18T00:00:00+0000"}'
    headers:
      X-Token:
      - <ADTRACTION_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"transactionId":123456,"transactionType":4,"transactionName":"Foobar","programId":123,"programName":"Kwik-E-Mart","channelId":123,"channelName":"example.com","channelUrl":"http://www.example.com","adId":11111,"adName":"Egen
        länk","epi":"abc123","keyword":null,"referrer":"http://www.example.com/ads","clickDate":"2012-09-18T11:38:07+0200","transactionDate":"2012-09-18T11:42:30+0200","orderId":"12324","currency":"SEK","orderValue":30000.0,"originalOrderValue":null,"commission":19.87,"originalCommission":null,"cancelled":false,"creditTransaction":false,"createdDate":"2012-09-18T11:42:30+0200"}]'
  recorded_at: Sat, 11 Oct 2014 12:38:19 GMT
recorded_with: VCR 2.9.3
