---
http_interactions:
- request:
    method: post
    uri: https://api.affiliator.com/v1/
    body:
      encoding: US-ASCII
      string: showClickData=true&method=getSaleList&date_start=2012-09-17&date_end=2012-09-18&user=<AFFILIATOR_USERNAME>&password=<AFFILIATOR_PASSWORD>&key=<AFFILIATOR_API_KEY>&type=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"sales":[{"sale_id":"12345","status":"1","date":"2012-09-18","time":"20:49:32","ip":"11.222.XXX.XXX","currency":"SEK","commission":"19.87","affiliate_id":"123","website_id":"123","website":"http:\/\/www.example.com","program_id":"1","program":"Kwik-E-Mart","epi":"abc123","click_date":"2012-09-18","click_time":"20:41:40"}]}}'
  recorded_at: Thu, 09 Oct 2014 14:05:45 GMT
recorded_with: VCR 2.9.3
