---
http_interactions:
- request:
    method: get
    uri: http://ws.tradetracker.com/soap/affiliate?wsdl
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Performance-Stats:
      - '{"hits":0,"miss":0,"sets":0,"duration_total":"0.03","duration_db":"0.00","duration_web":0.03,"memory_usage":"3.41","request_uri":"\/soap\/affiliate?wsdl"}'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\n<definitions name=\"Affiliate\"\n\ttargetNamespace=\"https://ws.tradetracker.com/soap/affiliate\"\n\txmlns:tns=\"https://ws.tradetracker.com/soap/affiliate\"\n\txmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"\n\txmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\"\n\txmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n\txmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"\n\txmlns=\"http://schemas.xmlsoap.org/wsdl/\">\n\n<!--
        Types -->\n\n<types>\n\t<xsd:schema elementFormDefault=\"qualified\" targetNamespace=\"https://ws.tradetracker.com/soap/affiliate\">\n\t\t<xsd:import
        namespace=\"http://schemas.xmlsoap.org/soap/encoding/\" />\n\t\t<xsd:import
        namespace=\"http://schemas.xmlsoap.org/wsdl/\" />\n\n\t\t<!-- Locales -->\n\t\t<xsd:simpleType
        name=\"Locale\">\n\t\t\t<xsd:restriction base=\"xsd:normalizedString\">\n\t\t\t\t\t\t\t\t<xsd:enumeration
        value=\"nl_BE\" />\t\t\t\t<xsd:enumeration value=\"fr_BE\" />\t\t\t\t<xsd:enumeration
        value=\"cs_CZ\" />\t\t\t\t<xsd:enumeration value=\"da_DK\" />\t\t\t\t<xsd:enumeration
        value=\"de_DE\" />\t\t\t\t<xsd:enumeration value=\"et_EE\" />\t\t\t\t<xsd:enumeration
        value=\"en_GB\" />\t\t\t\t<xsd:enumeration value=\"es_ES\" />\t\t\t\t<xsd:enumeration
        value=\"fr_FR\" />\t\t\t\t<xsd:enumeration value=\"it_IT\" />\t\t\t\t<xsd:enumeration
        value=\"hu_HU\" />\t\t\t\t<xsd:enumeration value=\"nl_NL\" />\t\t\t\t<xsd:enumeration
        value=\"nb_NO\" />\t\t\t\t<xsd:enumeration value=\"de_AT\" />\t\t\t\t<xsd:enumeration
        value=\"pl_PL\" />\t\t\t\t<xsd:enumeration value=\"fi_FI\" />\t\t\t\t<xsd:enumeration
        value=\"sv_SE\" />\t\t\t\t<xsd:enumeration value=\"ru_RU\" />\t\t\t</xsd:restriction>\n\t\t</xsd:simpleType>\n\n\t\t<!--
        Affiliate site -->\n\n\t\t<xsd:complexType name=\"AffiliateSites\">\n\t\t\t<xsd:complexContent>\n\t\t\t\t<xsd:restriction
        base=\"SOAP-ENC:Array\">\n\t\t\t\t\t<xsd:attribute ref=\"SOAP-ENC:arrayType\"
        wsdl:arrayType=\"tns:AffiliateSite[]\" />\n\t\t\t\t</xsd:restriction>\n\t\t\t</xsd:complexContent>\n\t\t</xsd:complexType>\n\t\t<xsd:complexType
        name=\"AffiliateSite\">\n\t\t\t<xsd:sequence>\n\t\t\t\t<xsd:element maxOccurs=\"1\"
        name=\"ID\" type=\"xsd:nonNegativeInteger\" />\n\t\t\t\t<xsd:element maxOccurs=\"1\"
        name=\"name\" type=\"xsd:string\" />\n\t\t\t\t<xsd:element maxOccurs=\"1\"
        name=\"URL\" type=\"xsd:normalizedString\" />\n\t\t\t\t<xsd:element maxOccurs=\"1\"
        name=\"info\" type=\"tns:AffiliateSiteInfo\" nillable=\"true\" />\n\t\t\t</xsd:sequence>\n\t\t</xsd:complexType>\n\t\t<xsd:complexType
        name=\"AffiliateSiteInfo\">\n\t\t\t<xsd:sequence>\n\t\t\t\t<xsd:e[...]
- request:
    method: post
    uri: https://ws.tradetracker.com/soap/affiliate
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="https://ws.tradetracker.com/soap/affiliate"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:authenticate><tns:customerID><TRADETRACKER_USER_ID></tns:customerID><tns:passphrase><TRADETRACKER_API_KEY></tns:passphrase></tns:authenticate></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"https://ws.tradetracker.com/soap/affiliate/authenticate"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Performance-Stats:
      - '{"hits":0,"miss":0,"sets":0,"duration_total":"0.04","duration_db":"0.00","duration_web":0.04,"memory_usage":"4.71","request_uri":"\/soap\/affiliate"}'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="https://ws.tradetracker.com/soap/affiliate" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Body><ns1:authenticateResponse/></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Thu, 29 Sep 2016 07:28:10 GMT
- request:
    method: post
    uri: https://ws.tradetracker.com/soap/affiliate
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="https://ws.tradetracker.com/soap/affiliate"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:getAffiliateSites><tns:options></tns:options></tns:getAffiliateSites></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"https://ws.tradetracker.com/soap/affiliate/getAffiliateSites"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Performance-Stats:
      - '{"hits":0,"miss":0,"sets":0,"duration_total":"0.06","duration_db":"0.00","duration_web":0.06,"memory_usage":"4.82","request_uri":"\/soap\/affiliate"}'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="https://ws.tradetracker.com/soap/affiliate" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Body><ns1:getAffiliateSitesResponse><affiliateSites SOAP-ENC:arrayType="ns1:AffiliateSite[7]" xsi:type="ns1:AffiliateSites"><item xsi:type="ns1:AffiliateSite"><ID xsi:type="xsd:nonNegativeInteger">82695</ID><name xsi:type="xsd:string">AllaUpplevelser.se</name><URL xsi:type="xsd:normalizedString">http://allaupplevelser.se</URL><info xsi:type="ns1:AffiliateSiteInfo"><type xsi:type="ns1:AffiliateSiteType"><ID xsi:type="xsd:nonNegativeInteger">12</ID><name xsi:type="xsd:normalizedString">Annan</name></type><category xsi:type="ns1:AffiliateSiteCategory"><ID xsi:type="xsd:nonNegativeInteger">23</ID><name xsi:type="xsd:normalizedString">Sport och rekreation</name></category><description xsi:type="xsd:string">Hitta och jämför pris på Upplevelser</description><creationDate xsi:type="xsd:date">2011-06-27</creationDate><status xsi:type="ns1:AffiliateSiteStatus">accepted</status></info></item><item xsi:type="ns1:AffiliateSite"><ID xsi:type="xsd:nonNegativeInteger">235654</ID><name xsi:type="xsd:string">allbeauty</name><URL xsi:type="xsd:normalizedString">http://www.allbeauty.se</URL><info xsi:type="ns1:AffiliateSiteInfo"><type xsi:type="ns1:AffiliateSiteType"><ID xsi:type="xsd:nonNegativeInteger">5</ID><name xsi:type="xsd:normalizedString">Jämförelsesiter</name></typ[...]
- request:
    method: post
    uri: https://ws.tradetracker.com/soap/affiliate
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="https://ws.tradetracker.com/soap/affiliate"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:getConversionTransactions><tns:options><tns:registrationDateFrom>2014-10-10</tns:registrationDateFrom><tns:registrationDateTo>2014-10-11</tns:registrationDateTo></tns:options><tns:affiliateSiteID>82695</tns:affiliateSiteID></tns:getConversionTransactions></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"https://ws.tradetracker.com/soap/affiliate/getConversionTransactions"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Performance-Stats:
      - '{"hits":0,"miss":0,"sets":0,"duration_total":"0.06","duration_db":"0.00","duration_web":0.06,"memory_usage":"4.85","request_uri":"\/soap\/affiliate"}'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="https://ws.tradetracker.com/soap/affiliate" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Body><ns1:getConversionTransactionsResponse><conversionTransactions SOAP-ENC:arrayType="ns1:ConversionTransaction[0]" xsi:type="ns1:ConversionTransactions"/></ns1:getConversionTransactionsResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Thu, 29 Sep 2016 07:28:11 GMT
[...]
