---
http_interactions:
- request:
    method: get
    uri: http://ws.webgains.com/aws.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"ISO-8859-1\"?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"wsdl-viewer.xsl\"?>\n<definitions xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:tns=\"urn:http://ws.webgains.com/aws.php\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns=\"http://schemas.xmlsoap.org/wsdl/\" targetNamespace=\"urn:http://ws.webgains.com/aws.php\">\n<types><xsd:schema
        targetNamespace=\"urn:http://ws.webgains.com/aws.php\">\n <xsd:import namespace=\"http://schemas.xmlsoap.org/soap/encoding/\"
        />\n <xsd:import namespace=\"http://schemas.xmlsoap.org/wsdl/\" />\n <xsd:complexType
        name=\"linesArray\">\n  <xsd:all>\n   <xsd:element name=\"campaignName\" type=\"xsd:string\"/>\n
        \  <xsd:element name=\"campaignID\" type=\"xsd:int\"/>\n   <xsd:element name=\"date\"
        type=\"xsd:dateTime\"/>\n   <xsd:element name=\"programName\" type=\"xsd:string\"/>\n
        \  <xsd:element name=\"programID\" type=\"xsd:int\"/>\n   <xsd:element name=\"commission\"
        type=\"xsd:float\"/>\n   <xsd:element name=\"saleValue\" type=\"xsd:float\"/>\n
        \  <xsd:element name=\"clickRef\" type=\"xsd:string\"/>\n   <xsd:elemen[...]
- request:
    method: post
    uri: http://ws.webgains.com/aws.php
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:http://ws.webgains.com/aws.php"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="urn:http://ws.webgains.com/aws.php"><env:Body><tns:getFullEarningsWithCurrency><username><WEBGAINS_USERNAME></username><password><WEBGAINS_PASSWORD></password><startdate>2014-10-10</startdate><enddate>2014-10-11</enddate></tns:getFullEarningsWithCurrency></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:http://ws.webgains.com/aws.php#getFullEarningsWithCurrency"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="urn:http://ws.webgains.com/aws.php" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><SOAP-ENV:Body><ns1:getFullEarningsWithCurrencyResponse><return SOAP-ENC:arrayType="ns1:fullEarningsWithCurrencyArray[21]" xsi:type="ns1:fullEarningsWithCurrencyReportArray"><item xsi:type="ns1:fullEarningsWithCurrencyArray"><transactionID xsi:type="xsd:int">123456</transactionID><affiliateID xsi:type="xsd:int">123</affiliateID><campaignName xsi:type="xsd:string">example.com</campaignName><campaignID xsi:type="xsd:int">1234</campaignID><date xsi:type="xsd:dateTime">2014-10-10T11:02:48</date><validationDate xsi:type="xsd:dateTime">2014-10-10T11:02:48</validationDate><delayedUntilDate xsi:type="xsd:string"></delayedUntilDate><programName xsi:type="xsd:string">Kwik-E-Mart</programName><programID xsi:type="xsd:int">1234</programID><linkID xsi:type="xsd:string">0</linkID><eventID xsi:type="xsd:int">1234</eventID><commission xsi:type="xsd:float">19.87</commission><saleValue xsi:type="xsd:float">35.91</saleValue><status xsi:type="xsd:string">confirmed</status><paymentStatus xsi:type="xsd:string">notcleared</paymentStatus><changeReason xsi:nil="true"/><clickRef xsi:type="xsd:string">abc123</clickRef><clickthroughTime xsi:type="xsd:dateTime">2014-10-10T10:26:59</clickthroughTime><landingPage xsi:type="xsd:string">http://www.example.com</landingPage><country xsi:type="xsd:string">GB</country><referrer xsi:type="xsd:string">http://example.com/products</referrer><currency xsi:type="xsd:string">GBP</currency></item></return></ns1:getFullEarningsWithCurrencyResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Mon, 13 Oct 2014 14:41:15 GMT
recorded_with: VCR 2.9.3
