---
http_interactions:
- request:
    method: get
    uri: http://api.zanox.com/xml/2011-03-01/reports/sales/date/2014-10-11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ZXWS <ZANOX_CONNECT_ID>:iQ2zsSbVCR1Q1mX5sCoj2GtyRjg=
      Nonce:
      - 6103cea9687b0019583f
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><GetSalesResponse
        xmlns="http://api.zanox.com/namespace/2011-03-01/"><page>0</page><items>0</items><total>0</total></GetSalesResponse>
  recorded_at: Mon, 13 Oct 2014 15:09:31 GMT
- request:
    method: get
    uri: http://api.zanox.com/xml/2011-03-01/reports/sales/date/2014-10-12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ZXWS <ZANOX_CONNECT_ID>:yVGf2WtUZ4fszDeB1jznSrckOEc=
      Nonce:
      - 09d17e8e358279feb2a3
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><GetSalesResponse
        xmlns="http://api.zanox.com/namespace/2011-03-01/"><page>0</page><items>1</items><total>1</total><saleItems><saleItem
        id="123456"><reviewState>open</reviewState><trackingDate>2014-10-12T22:27:54.917+02:00</trackingDate><modifiedDate>2014-10-12T22:27:56.770+02:00</modifiedDate><clickDate>2014-10-12T22:17:59.547+02:00</clickDate><adspace
        id="1234567">example.com</adspace><admedium id="12345">Foobar</admedium><program
        id="1234">Kwik-E-Mart</program><clickId>123456</clickId><clickInId>0</clickInId><amount>159.0</amount><commission>19.87</commission><currency>SEK</currency><gpps><gpp
        id="zpar0">abc123</gpp></gpps></saleItem></saleItems></GetSalesResponse>
  recorded_at: Mon, 13 Oct 2014 15:09:31 GMT
recorded_with: VCR 2.9.3
